### Creating Series

In [2]:
import pandas as pd

In [8]:
# creating from list 
list  = [1,2,3,4,5,6]
ind = ["abhi", "gorang" ,"anuj", "naresh" ,"ayush", "hitesh" ]
series = pd.Series(list)
print(series)

# custum indexing 
series = pd.Series(list , index=ind )
print(series)

# Creating from dictionary 
dict = { 
    'abhi' : 61,
    'abh' : 62,
    'ab' : 63,
    'a' : 64
}
print(pd.Series(dict))
print(series['abhi'])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
abhi      1
gorang    2
anuj      3
naresh    4
ayush     5
hitesh    6
dtype: int64
abhi    61
abh     62
ab      63
a       64
dtype: int64
1

### DataFrame

In [ ]:
#  From dictionary 
dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'New York'],
    'Salary': [70000, 80000, 95000, 72000]    
}
dataf = pd.DataFrame(dict)
print (dataf) 
print(type(dataf))
# custom indexing

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30    London   80000
2  Charlie   35     Paris   95000
3    David   28  New York   72000
<class 'pandas.core.frame.DataFrame'>