### Merging, Joining, and Concatenating DataFrames.

In [1]:
import pandas as pd

# 1. Student Data
df_students = pd.DataFrame({
    'StudentID': [1, 2, 3, 4, 5],
    'StudentName': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve']
})

# 2. Enrollment Data (note: StudentID 6 is not in df_students, CourseID 104 is new)
df_enrollments = pd.DataFrame({
    'EnrollmentID': [1001, 1002, 1003, 1004, 1005, 1006],
    'StudentID': [1, 3, 1, 6, 2, 5],
    'CourseID': [101, 102, 103, 104, 101, 102],
    'Grade': ['A', 'B', 'A-', 'C+', 'B+', 'A']
})

# 3. Course Data
df_courses = pd.DataFrame({
    'CourseID': [101, 102, 103, 105], # CourseID 105 is new
    'CourseName': ['Math', 'Physics', 'Chemistry', 'History']
})

In [5]:
# Merge Student & Enrollment Data
d1  = pd.merge(df_students , df_enrollments , on= 'StudentID' , how='left')
print(d1)

df_full_enrollment_details = pd.merge(d1  , df_courses , on= 'CourseID' , how='left')
print(df_full_enrollment_details)

   StudentID StudentName  EnrollmentID  CourseID Grade
0          1       Alice        1001.0     101.0     A
1          1       Alice        1003.0     103.0    A-
2          2         Bob        1005.0     101.0    B+
3          3     Charlie        1002.0     102.0     B
4          4       Diana           NaN       NaN   NaN
5          5         Eve        1006.0     102.0     A
   StudentID StudentName  EnrollmentID  CourseID Grade CourseName
0          1       Alice        1001.0     101.0     A       Math
1          1       Alice        1003.0     103.0    A-  Chemistry
2          2         Bob        1005.0     101.0    B+       Math
3          3     Charlie        1002.0     102.0     B    Physics
4          4       Diana           NaN       NaN   NaN        NaN
5          5         Eve        1006.0     102.0     A    Physics

In [ ]:
# Concatenate New Enrollments
new_enrollments = pd.DataFrame({
    'EnrollmentID': [1007, 1008],
    'StudentID': [4, 2],
    'CourseID': [101, 105],
    'Grade': ['B', 'A']
})

df_all_enrollment  = pd.concat([df_enrollments , new_enrollments] , ignore_index=True ,axis=0 ) # by defalut it is axis = 0
print(df_all_enrollment)

      0  1    2   3       4    5      6    7
0  1001  1  101   A  1007.0  4.0  101.0    B
1  1002  3  102   B  1008.0  2.0  105.0    A
2  1003  1  103  A-     NaN  NaN    NaN  NaN
3  1004  6  104  C+     NaN  NaN    NaN  NaN
4  1005  2  101  B+     NaN  NaN    NaN  NaN
5  1006  5  102   A     NaN  NaN    NaN  NaN