### Reshaping Data.

#### pivot_table(), melt() and briefly touch upon stack()/unstack().

In [4]:
import pandas as pd 
expense_data = {
    'Household': ['Rent', 'Groceries'],
    'Jan_Expense': [1200, 300],
    'Feb_Expense': [1200, 350],
    'Mar_Expense': [1200, 320],
    'Personal': ['Dining Out', 'Shopping'],
    'Jan_Personal': [150, 100],
    'Feb_Personal': [180, 120],
    'Mar_Personal': [160, 110]
}
df_expenses = pd.DataFrame(expense_data)
print(df_expenses)

   Household  Jan_Expense  Feb_Expense  Mar_Expense    Personal  Jan_Personal  \
0       Rent         1200         1200         1200  Dining Out           150
1  Groceries          300          350          320    Shopping           100

   Feb_Personal  Mar_Personal
0           180           160
1           120           110

In [ ]:
# Melt Household Expenses
df_household_long  = pd.melt(
                     df_expenses,
                     id_vars='Household', 
                     value_vars=['Jan_Expense' , 'Feb_Expense', 'Mar_Expense'] , 
                     var_name = 'Month' , 
                     value_name= 'vlaue')
print(df_household_long)

   Household        Month  vlaue
0       Rent  Jan_Expense   1200
1  Groceries  Jan_Expense    300
2       Rent  Feb_Expense   1200
3  Groceries  Feb_Expense    350
4       Rent  Mar_Expense   1200
5  Groceries  Mar_Expense    320

In [9]:
# Melt Personal Expenses
valueVars = ['Jan_Personal' , 'Feb_Personal' ,'Mar_Personal']
df_personal_long = pd.melt(df_expenses ,
                           id_vars='Personal',
                           value_vars=valueVars,
                           var_name='Month',
                           value_name='value')
print(df_personal_long)

     Personal         Month  value
0  Dining Out  Jan_Personal    150
1    Shopping  Jan_Personal    100
2  Dining Out  Feb_Personal    180
3    Shopping  Feb_Personal    120
4  Dining Out  Mar_Personal    160
5    Shopping  Mar_Personal    110

In [13]:
# Combine Long DataFrames
df_household_long['Expence_categary'] = 'Household'
df_personal_long['Expence_categary'] = 'Personal'
# print(df_personal_long)
# print(df_household_long)
 
df_all_long = pd.concat([df_household_long, df_personal_long] ,ignore_index=1, axis=0)
print(df_all_long)

    Household         Month   vlaue Expence_categary    Personal  value
0        Rent   Jan_Expense  1200.0        Household         NaN    NaN
1   Groceries   Jan_Expense   300.0        Household         NaN    NaN
2        Rent   Feb_Expense  1200.0        Household         NaN    NaN
3   Groceries   Feb_Expense   350.0        Household         NaN    NaN
4        Rent   Mar_Expense  1200.0        Household         NaN    NaN
5   Groceries   Mar_Expense   320.0        Household         NaN    NaN
6         NaN  Jan_Personal     NaN         Personal  Dining Out  150.0
7         NaN  Jan_Personal     NaN         Personal    Shopping  100.0
8         NaN  Feb_Personal     NaN         Personal  Dining Out  180.0
9         NaN  Feb_Personal     NaN         Personal    Shopping  120.0
10        NaN  Mar_Personal     NaN         Personal  Dining Out  160.0
11        NaN  Mar_Personal     NaN         Personal    Shopping  110.0