### Reading CSV file in DataFrame

In [ ]:
import pandas as pd 
dataf = pd.read_csv('sample_data.csv')
print(dataf)

      Name  Age      City Occupation
0    Alice   25  New York   Engineer
1      Bob   30    London   Designer
2  Charlie   35     Paris     Doctor
3    David   28  New York     Artist
4      Eve   40    London    Manager

### Operations

In [11]:
# 3 initial row
# dataf.head(3)
# # last 3 row
# dataf.tail(3)

dataf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      object
 2   City        5 non-null      object
 3   Occupation  5 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes

In [ ]:
# The describe() statistics of dataf int64 colomn
dataf.describe()

            Age
count   5.00000
mean   31.60000
std     5.94138
min    25.00000
25%    28.00000
50%    30.00000
75%    35.00000
max    40.00000

In [27]:
dataf.shape
dataf.dtypes   
dataf.columns
dataf.index

RangeIndex(start=0, stop=5, step=1)

### Indexing and Selection

In [ ]:
#  selection of colomn 
name = dataf['Name'] # a series of name
print(name[0]) # Alice 
na = dataf[['Name', 'Age']]  # dataframe of name age
# print(type(na))

Alice
<class 'pandas.core.frame.DataFrame'>

#### Row selection
The .iloc[] (integer-location based indexing)

In [ ]:
# df.iloc[row_index_or_slice, col_index_or_slice]
# row_index_or_slice: An integer, a list of integers, or a slice (e.g., 0, [0, 2, 4], 0:5).
# col_index_or_slice: An integer, a list of integers, or a slice (e.g., 0, [0, 2], 0:2). You can

row2nd = dataf.iloc[2]  # a series of 2nd row with colomn indexing
print(row2nd)
# print(row2nd['Name'])

element = dataf.iloc[0,2]  
print(element)

Name          Charlie
Age                35
City            Paris
Occupation     Doctor
Name: 2, dtype: object
New York

In [ ]:
# Select rows at positions 0 and 4, and columns at positions 0, 1, and 3
specific_data = dataf.iloc[[0, 4], [0, 1, 3]]
print(specific_data)

    Name  Age Occupation
0  Alice   25   Engineer
4    Eve   40    Manager

#### The .loc[] (label-based indexing) 
df.loc[row_label_or_slice, col_label_or_slice]

In [61]:
lbased = dataf.loc[2,'Age']
print(lbased)

# custom indexing
data_name = dataf.set_index('Name')
print(data_name)

lbased  = data_name.loc[['Alice' ,'David'] , ['Age']]
print(lbased)

35
         Age      City Occupation
Name
Alice     25  New York   Engineer
Bob       30    London   Designer
Charlie   35     Paris     Doctor
David     28  New York     Artist
Eve       40    London    Manager
       Age
Name
Alice   25
David   28